{% extends "layout.html" %}

{% block content %}
<a id="contact-me-link" href="#">Contact me</a><br/>
<<<<<<< HEAD
<a id="contact-me-link" target="_blank" href="https://github.com/bioit-awwal/exploreyose/blob/master/README.md">My Link</a><br/>
<a id="ping-challenge-link" target="_blank" href="http://exploreyose.herokuapp.com/ping">Ping Challenge</a><br/>
=======
<a id="repository-link" target="_blank" href="https://github.com/bioit-awwal/exploreyose/blob/master/README.md">Yose Readme</a>

>>>>>>> b91bb86b01363073ee25e984108ad8a283393988
<b>Hello Yose</b>
<input id="astroport-name" type="button" text="Contact Me" value="Contact Me"><br/>
{% endblock %}