{% extends "layout.html" %}

{% block content %}
<a id="contact-me-link" href="#">Contact me</a><br/>
<a id="repository-link" target="_blank" href="https://github.com/bioit-awwal/exploreyose/blob/master/README.md">Yose Readme</a>

<b>Hello Yose</b>
{% endblock %}