{% extends "layout.html" %}

{% block content %}
<a id="contact-me-link" target="_blank" href="https://github.com/bioit-awwal/exploreyose/blob/master/README.md">My Link</a><br/>
<a id="ping-challenge-link" target="_blank" href="http://exploreyose.herokuapp.com/ping">Ping Challenge</a><br/>
<a id="repository-link" target="_blank" href="https://github.com/bioit-awwal/exploreyose/blob/master/README.md">Yose Readme</a>
<b>Hello Yose</b>
<input id="astroport-name" type="button" text="Contact Me" value="Contact Me"><br/>

<ul>
	<li id="gate-1" class="free"><p id="ship-1"></p></li>
	<li id="gate-2" class="free"><p id="ship-2"></p></li>
	<li id="gate-3" class="free"><p id="ship-3"></p></li>
</ul>

<label> Ship </label> <input type="text" id="ship"/><button id="dock" text="dock">Dock</button>
<a href id="info" class="hidden">-</a>
<script>
	var gateRef = $("#gate-1");
	var gateShip = $("#info");

	$('#dock').on('click',function(){
		var value = $("#ship").val();
		$("#ship-1").html(value);

		
		var classCss= gateRef.attr('class');
		if (classCss == "free"){
			gateRef.removeClass("free").addClass("occupied");
			
			$('#info').html("The ship has been docked at gate 1");
		} else{
			gateRef.removeClass("occupied").addClass("free");
		}

		var classCss2= gateShip.attr('class');
		if(classCss2 == "docked" ){
			gateShip.removeClass("docked").addClass("hidden");
		}else {
			gateShip.removeClass("hidden").addClass("docked");			
		}
	})
	$('#ship').on("keydown", function(){
		var classCss= gateShip.attr('class');
		if (classCss == "docked"){
			gateShip.removeClass("docked").addClass("hidden");
		}
	});
</script>
{% endblock %}