{% extends "layout.html" %}

{% block content %}
<a id="contact-me-link" href="#">Contact me</a><br/>
<a id="contact-me-link" target="_blank" href="https://github.com/bioit-awwal/exploreyose/blob/master/README.md">My Link</a><br/>
<a id="ping-challenge-link" target="_blank" href="http://exploreyose.herokuapp.com/ping">Ping Challenge</a><br/>
<b>Hello Yose</b>
{% endblock %}